<% if message.user == current_user %>
  <div class="message-right">
    <div class="message-content">
      <%= simple_format message.content, id: 'message' %>
    </div>
  </div>
<% else %>
  <div class="message-left">
    <%= image_tag avatars_attached?(message.user), width: 40, height: 40, class: 'rounded-circle mr15'%>
    <span class="user-nickname"><%= message.user.nickname %>さん</span>
    <div class="message-content">
      <%= simple_format message.content, id: 'message' %>
    </div>
  </div>
<% end %>