<%= turbo_frame_tag "js-like-button-for-cafe-#{cafe.id}" do %>
  <span><%= pluralize(cafe.likes.count, 'like') %></span>
  <%= link_to likes_path(cafe_id: cafe), data: { turbo_method: :post } do %>
    <i class="bi bi-heart"></i>
  <% end %>
<% end %>