<%= turbo_frame_tag "js-like-button-for-cafe-#{cafe.id}" do %>
  <span><%= pluralize(cafe.likes.count, 'like') %></span>
  <%= link_to like_path(current_user.likes.find_by(cafe_id: cafe.id)), data: { turbo_method: :delete } do %>
    <i class="bi bi-heart-fill"></i>
  <% end %>
<% end %>