<h1>ユーザー一覧</h1>

<p id="notice"><%= flash[:notice] %></p>

<% @users.each do |user| %>
  <%= user.nickname %>さん
  <%= link_to 'アカウント削除', user_path(user.id), data: { turbo_method: :delete } %>
  <%= link_to 'プロフィール', profiles_path %>
  <br>
<% end %>