a {
  text-decoration: none;
}

.message-right {
  text-align: right;
}

.message-left {
  text-align: left;
}


.user-nickname {
  font-size: 13px;
  color: rgb(111, 111, 111);
}

.message-area {
  overflow: scroll;
}

.list-group-item {
  background-color: lightgray;
}