<div class="chat-container">
  <ul class="messages">
    <div class="message-area" style="height: 450px;" id="messages">
      <div id="user-data" data-user-id="<%= current_user.id %>"></div>
      <%= render partial: 'messages/message', collection: @messages %>
    </div>
  </ul>

  <div id="message-form">
    <input type="hidden" id="room-id" value="<%= @room.id %>">
    <textarea class="form-control" id="js-content"></textarea>
    <button class="btn btn-primary" id="js-submit-btn"><i class="bi bi-send-fill"></i></button>
  </div>
</div>