<div class="container">
  <span><%= link_to 'トーク一覧へ', rooms_path %></span>
  <h4 class="text-center mt-3">トーク画面</h4>
  <div class="message-area" style="height: 450px;" id="messages">
    <div id="user-data" data-user-id="<%= current_user.id %>"></div>
    <%= render partial: 'messages/message', collection: @messages %>
  </div>

  <div id="message-form">
    <input type="hidden" id="room-id" value="<%= @room.id %>">
    <textarea class="form-control" id="js-content"></textarea>
    <button class="btn btn-primary" id="js-submit-btn">送信</button>
  </div>
</div>